[Desktop Entry]
Type=Application
Name=Zed
Comment=Code at the speed of thought
Icon=${SNAP}/meta/gui/zed-wg.png
Exec=zed-wg
Terminal=false
Categories=Development;IDE;
